body{
    background-color: rgb(115, 254, 2);
}
.navbar a{
  color:green;
  text-decoration: none;
}
.navbar-links li {
   list-style-type: none;
    display: inline-block;
    margin-left: 80px;
}
.navbar div{
    display: inline-block;
}
.navbar-links{
    margin-left: 750px;
}

.brand{
    margin-left: 100px;
}

.content{
    width: 370px;
    margin-top: 115px;
    margin-left: 90px;
    line-height: 0.9;
}
.content h3{
    color: rgb(221, 255, 0);
}
.content h1, p, button{
 color:rgb(255, 255, 255)
}
.content button{
    border: none;
    padding: 10px;
    background-color: rgb(11, 197, 234);
}

.model div {
    display:flex;
    position:relative;
    margin-bottom:800px;
    margin-left:600px ;
   
   
 }
 .content4 div {
    display:inline-block;
    position: relative;
    margin-left:100px;
 }
 .box {
    
    display:flex;
    margin-left:500px; 
    margin-right:300px;
   
 }